<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>738142358590-d9raa43hma4stesdj2om2i1bo2t22oh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738142358590-d9raa43hma4stesdj2om2i1bo2t22oh2</string>
	<key>API_KEY</key>
	<string>AIzaSyDkE7YX0dj6GBCiXBrOFHHvDxQlzQm7AoM</string>
	<key>GCM_SENDER_ID</key>
	<string>738142358590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.Bookstore</string>
	<key>PROJECT_ID</key>
	<string>bookstore-a38c8</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-a38c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738142358590:ios:7756bb2570c92e77</string>
	<key>DATABASE_URL</key>
	<string>https://bookstore-a38c8.firebaseio.com</string>
</dict>
</plist>